body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
  }
  
  .hero-section {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1543269664-7eef42226a21?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8d29ya2luZyUyMG9uJTIwbGFwdG9wfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60") no-repeat center center;
    background-size: cover;
    display: flex;
    
    justify-content: center;
    text-align: center;
    color: white;
  }
  
  .hero-content {
    margin-top: 5rem;
    max-width: 600px;
    padding: 20px;
  }
  
  .hero-content h2 {
    text-align: start;
    font-size: 50px;
    font-weight: 400 bold;
    margin-bottom: 10px;
  }
  .hero-content span{
    font-size: 20px;
  }
  
  .hero-content h1 {
    font-size: 50px;
    font-weight: 400 bold;
  }
  .Black-Box{
    background-color: #000;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
  }
  .Black-Box-content{
   padding: 20px;

  }
  .Black-Box-content h3{
    font-size: 80px;
    font-weight: 400;
  }
  .Black-Box-content span{
    font-size: 96px;
  }
  @media (max-width: 768px) { 
    .hero-content{
        margin-top: 3rem;
    }
    .hero-content h1{
        font-size: 30px;
    }
    .Black-Box-content h3 {
      font-size: 40px;
    }
    
    .Black-Box-content span {
      font-size: 45px;
    }
  }
  .Card-Container{
    padding: 100px;
  }
  .card{
    border-radius: 5px;
    box-shadow: 5px 5px gainsboro;
  }
  .Bottom{
    padding: 30px;
  }
  .card1{
    border-radius: 5px;
    padding: 30px;
    color: white;
    background-color: green;
  }
  .card2{
    border-radius: 5px;
    padding: 30px;
    color: white;
    background-color: red;
  }
